body {
    background: url("./img/NNR7ze.jpg");
    background-size: cover;
}

.main img {
    width: 200px;
}

.about {
    background-color: rgba(104, 35, 35, 0.541);
    width: 100%;
    padding: 78px 20px;

}

