* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh", sans-serif;   
}

.navbar {
    background-color: aqua;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}

#navbar_logo {
    padding-left: 25px;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
}

.navbar_items {
    width: 100%;
}

.navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: ;
}
