* {
    box-sizing: border-box;
}

.logo {
    width: 70px;
}

body {
    margin: 0;
    padding: 0;
    background: url("./Fiona_Hill.jpg");
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    color: wheat;
}
